main { margin-top: 1.75em }

.groceries-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 2em;
}

.groceries-display .grocery-item {
    max-width: 260px;
    margin: .625rem .625rem 0 0;
    flex-grow: 1;
}

.grocery-item img {
    padding: 1.25em;
}

.grocery-item .card {
    height: 100%;
}

/* Filter panel */
.filter-criteria {
    margin: 0 .25em 0 .75em;
}

.filter-panel-first {
    margin-top: 0.75em;
}

.distance-wrapper {
    width: 100%;
}
.distance-wrapper input {
    width: 100%;
}

.distance-label-wrapper {
    margin: 0 auto;
}

.table th, .table td { padding: 0; }
.table .table-field {
    width: 10em;
}
