.background-image { 
    background-image: url("../images/brooke-lark-229136-unsplash.jpg");
    background-size: cover;
    display: block;
    filter: brightness(40%) blur(4px);
    -webkit-filter: brightness(40%) blur(4px);
    transform: scale(1.1);
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.location-title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    opacity: 0.6;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.location-title--container {
    margin-bottom: .5em;
}

.location--button-link span {
    text-transform: uppercase;
}

.location--button-link a {
    color: inherit;
    text-decoration: none;
}

.location--input--container { 
    width: 30vw; 
}
