main {
    margin-top: 1.75em;
}

.resturants-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: -.75em 0 0 2em;
}

.resturants-display .resturant-item {
    max-width: 260px;
    margin: .625rem .625rem 0 0;
    flex-grow: 1;
}

.resturant-item .card {
    height: 100%;
    width: 100%;
}

.resturant-item .resturant--title {
    word-break: break-word;
}

.filter-title {
    display: block;
}

.filter-criteria {
    margin: 0 0 0 .75em;
}

.attributes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.attributes .attribute-item {
    flex: 1 0 100%;
    padding-left: 0.625em;
}

.cuisines {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cuisines .cuisine-item {
    flex: 1 0 100%;
    padding-left: 0.625em;
}

.dollar-child {
    margin-left: .25em;
}

.distance-wrapper {
    width: 100%;
}
.distance-wrapper input {
    width: 100%;
}

.selections {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: .75em;
}

.selections .selection-item {
    margin-left: .625em;
    padding: 1em;
    background: lime;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.distance-label--wrapper {
    margin: 0 auto;
}

.vis {
    visibility: hidden;
}

.arrow_box {
    position: relative;
    background: #24d53c;
}
.arrow_box:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(36, 213, 60, 0);
    border-top-color: #24d53c;
    border-width: 10px;
    margin-left: -10px;
}

.filter-price-star a { color: grey; !important }
.filter-price-star .dollar-fill {
    color: #FFD119; !important
}
