{% for grocery in groceries %}
<div class="grocery-item" onclick='groceryItemClicked({{ grocery | tojson }})' data-toggle="modal" data-target="#grocery-modal">
  <div class="card">
    <img class="card-img-top" src="{{ grocery.img_src }}"
         style="width; 210px; height: 210px" />
    <div class="card-body">
      <p class="card-text">
        <b>{{ grocery.product_name }}</b>
      </p>
    </div>
  </div>
</div>
{% endfor %}
