<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Grocery Shopping</title>

    <link href="/static/dist/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/dist/bootstrap/checkbox.css" rel="stylesheet" type="text/css" />
    <link href="/static/dist/bootstrap-select-1.13.2/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <link href="/static/css/grocery.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% include "nav.html" %}
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <div class="filter-criteria filter-panel-first">
              <div class="row">
                <h3 class="filter-title">Food groups</h3>
              </div>
              <div class="row foodgroups">
                <select class="selectpicker" id="food-groups--selector"
                        multiple data-actions-box="true"
                        data-live-search="true"
                        multiple>
                  {% for group in food_groups %}
                  <option {{ "selected" if group in active_foodgroups else ""  }}>{{ group }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="filter-criteria">
              <div class="row">
                <h3 class="filter-title">Supermarkets</h3>
              </div>
              <div class="row brands">
                <select class="selectpicker" id="supermarkets--selector"
                        multiple data-actions-box="true"
                        data-live-search="true"
                        multiple>
                  {% for supermarket in supermarket_names %}
                  <option{{ "selected" if supermarket in active_supermarkets else "" }}>{{ supermarket }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="filter-criteria">
              <div class="row">
                <h3 class="filter-title">Brands</h3>
              </div>
              <div class="row brands">
                <select class="selectpicker" id="brand-names--selector"
                        multiple data-actions-box="true"
                        data-live-search="true"
                        multiple>
                  {% for brand in brand_names %}
                  <option {{ "selected" if brand in active_brands else ""}}>{{ brand }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="filter-criteria">
              <div class="row">
                <h3 class="filter-title">Distance</h3>
              </div>
              <div class="row">
                <div class="distance-label-wrapper">
                  <p class="logo" id="distance-label">
                    {{ (request.args.get('distance', 1000)|float) / 1000 }} km
                  </p>
                </div>
                <input type="range" class="form-control-range" id="distance-slider"
                       value="{{ request.args.get('distance', 1000) }}" min="100" max="5000" step="100" />
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <!-- grocery modal -->
            <div class="modal fade" id="grocery-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="grocery-modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="grocery-modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="groceries-display" id="groceries-display">
                {% include "groceries_iframe.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/dist/jquery/jquery.min.js"></script>
    <script src="/static/dist/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/dist/bootstrap-select-1.13.2/bootstrap-select.min.js"></script>
    <script>
      let active_foodgroups = {{ active_foodgroups | tojson }};
      let active_brands = {{ active_brands | tojson }};
      let active_supermarkets = {{ active_supermarkets | tojson }};
      let distance = {{ distance*1000 }};
      let pos = [{{ lat }}, {{ lon }}];
    </script>
    <script src="/static/js/grocery.js"></script>
  </body>
</html>
