<nav class="navbar" style="background-color: #324987">
  <a href="/" class="navbar-brand" style="color: #fff">Healthy eating</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a style="color: #fff" class="nav-link active" href="/resturants/lat/{{ lat }}/lng/{{ lon }}">Resturants</a>
    </li>
    <li class="nav-item">
      <a style="color: #fff" class="nav-link" href="/grocery/lat/{{ lat }}/lng/{{ lon }}">Grocery</a>
    </li>
  </ul>
</nav>
