<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Next</title>

    <link href="/static/dist/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/dist/bootstrap/checkbox.css" rel="stylesheet" type="text/css" />
    <link href="/static/dist/starrr/starrr.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <link href="/static/css/next.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% include "nav.html" %}
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <div class="filter-criteria">
              <div class="row">
                  <h3 class="filter-title">Attributes</h3>
              </div>
              <div class="row">
                <div class="attributes">
                  {% for attribute in attributes %}
                  <div class="attribute-item">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"
                               value=""
                               {{ "checked" if attribute in filter_attributes else "" }}
                               onchange="attributeChanged('{{ attribute }}')"/>
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        {{ attribute }}
                      </label>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="filter-criteria">
              <div class="row">
                <h3 class="filter-title">Rating</h3>
              </div>
              <div class="row">
                <div class="filter-rating-star starrr"></div>
              </div>
            </div>

            <div class="filter-criteria">
              <div class="row">
                <h3 class="filter-title">Price</h3>
              </div>
              <div class="row">
                <div class="filter-price-star starrr"></div>
              </div>
            </div>
            <div class="filter-criteria">
              <div class="row">
                <h3 class="filter-title">Distance</h3>
              </div>
              <div class="row">
                <div class="distance-label--wrapper">
                  <p id="distance-label">
                    {{ (request.args.get('distance', 1000)|float) / 1000 }} km
                  </p>
                </div>
                <input type="range" class="form-control-range" id="distance-slider"
                       value="{{ request.args.get('distance', 1000) }}" min="100" max="5000" step="100" />
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <!-- Resturant modal -->
            <div class="modal fade" id="resturant-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="resturant-modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="resturant-modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" role="button"
                       rel="noopener noreferer"
                       target="_blank"
                       href="#"
                       id="resturant-modal--directions-button">
                      Directions
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="resturants-display" id="resturants-display">
                {% include "resturants_iframe.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/dist/jquery/jquery.min.js"></script>
    <script src="/static/dist/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/dist/starrr/starrr.js"></script>
    <script>
      let active_attributes = {{ filter_attributes | tojson }};
      let active_cuisines = {{ filter_cuisines | tojson }};
      let pos = [{{ lat }}, {{ lon }}];
      let rating = {{ rating }};
      let price = {{ price }};

      (function() {
        console.log("initializing stars");
        $(".filter-rating-star").starrr({emptyClass: 'far fa-star', fullClass: 'fa fa-star', rating: {{ rating }} });
        $(".filter-price-star").starrr({emptyClass: 'fas fa-dollar-sign dollar-child',
                                        fullClass: 'fas fa-dollar-sign dollar-child dollar-fill',
                                        rating: {{ price }}});
      })();

    </script>
    <script src="/static/js/resturants.js"></script>
  </body>
</html>
