{% for resturant in resturants %}
<div class="resturant-item" onclick='resturantItemClicked({{ resturant | tojson }})' data-toggle="modal" data-target="#resturant-modal">
  <div class="card">
    <img class="card-img-top"
         style="width; 210px; height: 210px"
         src="{{ resturant.img_src }}" />
    <div class="card-body">
      <span class="card-text">
        <b>{{ resturant.NAME }}</b>
      </span>
    </div>
  </div>
</div>
{% endfor %}
